#number{
	font-size: 15;
}
#letter{
	font-size: 7;
}
.btn-primary{
	background-color: #009688;
	color: white;
	width: 80px;
	height: 80px;
	border-color: #009688;
}
#nokiaimg{
	float: right;
	width: 300px;
}
.keyboard {
	padding-top: 100px;
}
.screen {
	height: 150px;
	width: 240px;
}

body{
	background-color: #E0F2F1;
}